<?xml version="1.0" encoding="utf-8"?>
<RpgTome xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <setting key="rpgtome.configuration.database.connection" value="database=RpgTome;server=.\SQLEXPRESS;trusted_connection=true;" />
  <setting key="rpgtome.configuration.database.schema" value="dbo" />
  <setting key="rpgtome.configuration.authentication.username" value="test" />
  <setting key="rpgtome.configuration.authentication.password" value="test" />
  <setting key="rpgtome.configuration.database.provider" value="sql" />
</RpgTome>